body {

    /* page size */
    position:   relative;
    width:      1440px;
    height:     1024px;
    margin:     0 auto;

    /* background */
    background: #E9ECF8;

}

/*               logo               */

.logo {

    /* Auto layout */

    display:        flex;
    flex-direction: column;
    align-items:    flex-start;
    padding:        0px;
    gap:            40px;

    position: absolute;
    width:    120px;
    height:   48px;
    left:     40px;
    top:      40px;

}
/*=======================================*/

/*                Frame-1                */

.frame-1 {

    /* Auto layout */

    display:        flex;
    flex-direction: row;
    align-items:    center;
    padding:        0px;
    gap:            8px;
    
    width:      336px;
    height:     122px;

}

.help {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

}

/*=======================================*/

/*               Rectangle               */

.rectangle {

    position: absolute;
    width:    400px;
    height:   944px;
    left:     1000px;
    top:      40px;

    /* White */

    background:  #FFFFFF;
    /* shadow */

    box-shadow:    0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.image-high {

    margin-top:    243px;
    margin-left:   32px;
    margin-right:  32px;
    margin-bottom: 32px;

}

.frame-5 {

    /* Frame 5 */


    /* Auto layout */

    width:  336px;
    height: 122px;
    margin: 0 32px 243px;

    display:        flex;
    flex-direction: column;
    align-items:    flex-start;
    padding:        0px;
    gap:            16px;

}

#text-cript {

    width:  336px;
    height: 58px;
    

    font-family:    'Inter';
    font-style:     normal;
    line-height:    120%;
    /* or 29px */

    text-align:     center;

    /* Gray/gray-500 */

    color:        #343A40;

    /* Inside auto layout */

    flex:       none;
    order:      0;
    align-self: stretch;
    flex-grow:  0;

}

#text-demo {

    font-family:    'Inter';
    font-style:     normal;
    font-weight:    400;
    font-size:      16px;
    line-height:    150%;
    /* or 24px */

    text-align:     center;

}

/*=======================================*/